<h1>Crear Artículo</h1>
<%= form_for(@article)  do |f| %>
<div class="field">
	<%= f.text_field :title, placeholder: "Titulo" %>
</div>
<div class="field">
	<%= f.text_area :body, placeholder: "Escribe el articulo",style:"height:250px"%>
</div>
<div class="field">
	<%= f.submit "Guardar" %>
</div>

<% end -%>